PORT=3003
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=zorbit_navigation
DATABASE_USER=zorbit
DATABASE_PASSWORD=zorbit_dev
JWT_SECRET=dev-secret-change-in-production
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=zorbit-navigation
KAFKA_GROUP_ID=zorbit-navigation-group
AUTHORIZATION_SERVICE_URL=http://localhost:3002
OTEL_SERVICE_NAME=zorbit-navigation
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
